@mixin container() {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
}

@mixin surface($color) {
  $text-color: $color;
  @if $color == $color-white {
    $text-color: $color-black;
  }
  @if $color == $color-black {
    $text-color: $color-white;
  }
  @if $color == $color-brand {
    $text-color: $color-white;
  }

  background: $color;
  color: $text-color;

  &:hover {
    background: $color;
    color: $text-color;
  }
}

@mixin fontSmall() {
  font-size: 14px;
  line-height: 1.4;
  color: rgba($color-black, 0.8);
}

@mixin borderRadius($size: 1) {
  border-radius: grid($size);
}

@mixin marginBottom() {
  margin-bottom: grid(4);
}

@mixin displayBlock() {
  display: block;
  box-sizing: border-box;
}

@mixin grid() {
  display: flex;
  flex-wrap: wrap;
  margin: 0 grid(-2);
}

@mixin gridElement($size: 4) {
  margin: grid(2) grid(2);
  width: calc(#{100% / $size} - #{grid(4)});
}

@mixin surfaceButton() {
  @include borderRadius();
  @include marginBottom();
  @include surface($color-white);
  @include displayBlock();
  text-decoration: none;
  border: 1px solid rgba($color-black, 0.15);
  box-shadow: rgba($color-black, 0.5) 0 0 0;
  padding: grid(2);
  transition: box-shadow ease-in-out 0.2s;

  &:hover {
    border: 1px solid rgba($color-black, 0.15);
    box-shadow: rgba($color-black, 0.25) 0 3px 5px;
  }
}
