---
---

@import 'sass-easy-bem';
@import 'settings';
@import 'functions';
@import 'mixins';
@import 'reset';

@include b('header') {
  @include e('content') {
    @include content();
    margin: {
      top: 0;
      bottom: 0;
    }
    padding: 0;
    display: flex;
    height: $size-header;
    position: relative;
  }

  @include e('logo') {
    line-height: $size-header;
    vertical-align: baseline;
    margin: 0 grid(6);
  }

  @include e('logo-image') {
    display: inline-block;
    margin-top: grid(3);
    height: $size-header - grid(6);
  }

  @include e('nav') {
    display: flex;
    flex-direction: row;
  }

  @include e('link') {
    color: $color-white;
    padding: {
      left: grid(4);
      right: grid(4);
    }
    display: flex;
    align-items: center;

    &:hover {
      background: rgba($color-white, 0.1);
    }

    @include m('right') {
      position: absolute;
      right: 0;
      height: 100%;
      margin: 0 grid(4);
      border: none;
    }
  }
}

@include b('home') {
  @include e('schema') {
    display: block;
    width: 750px;
    max-width: 90%;
    margin: grid(16) auto;
  }
  @include e('jumbo') {
    text-align: center;
    padding: grid(16) grid(4);
  }
  @include e('logo') {
    display: inline-block;
    width: 90%;
    max-width: 400px;
  }
  @include e('headline') {
    font-weight: 100;
    font-size: 24px;
  }
}

@include b('container') {
  @include m('brand') {
    @include surface($color-brand);
  }

  @include m('gray') {
    background: rgba($color-black, 0.05);
  }

  @include m('black') {
    @include surface($color-black);
  }

  @include e('columns') {
    @include content();
    display: flex;
    padding: 0;
  }

  @include e('content') {
    @include content();
    flex-grow: 1;

    @include m('25-percent') {
      flex: 0 0 25%;
    }
    @include m('50-percent') {
      flex: 0 0 50%;
    }
  }
}

@include b('left-menu') {
  @include marginBottom();
  margin: grid(4);
  padding: grid(4);

  @include e('entry') {
    list-style: none;
  }

  @include e('entry-block') {
    padding: 0;
  }

  @include e('title') {
    padding-left: grid(4);
    font-size: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: grid(4);
    margin-bottom: grid(2);

    &:first-child {
      margin-top: 0;
    }
  }

  @include e('link') {
    color: $color-black;
    background: none;
    border: none;
    border-radius: 0;
    padding-left: grid(4);

    &:hover {
      background: none;
      border-bottom: none;
      font-weight: bold;
    }

    @include m('current') {
      border-left: grid() solid $color-brand;
      padding-left: grid(3);
    }
  }
}

@include b('footer') {
  @include surface($color-black);
  @include e('content') {
    padding: grid(4);
    margin: 0 grid(4);
  }
}

.highlighter-rouge {
  background: rgba($color-black, 0.05);
  padding: 2px 4px;
  border-radius: 2px;

  &.language-bash,
  &.language-js,
  &.language-json {
    @include borderRadius();
    @include marginBottom();
    background: #333;
    padding: grid(4);
    margin-left: grid(-4);
    margin-right: grid(-4);
  }

  &.language-bash * {
    color: white;
  }
}

@include b('workers-list') {
  @include e('content') {
    @include grid();
  }
  @include e('button') {
    @include surfaceButton();
    @include gridElement();
  }
  @include e('title') {
    font-weight: 500;
  }
  @include e('description') {
    @include fontSmall();
  }
}

@include b('tip') {
  @include borderRadius();
  @include marginBottom();
  background: rgba(255,229,100,0.3);
  padding: grid(4) grid(4) grid(4) grid(3);
  margin-left: grid(-4);
  margin-right: grid(-4);
  border-left: grid(1) solid #ffe564;

  &:before {
    content: 'Tip';
    display: block;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: grid(2);
  }

  > :last-child {
    margin: 0;
  }
}
